<form name="form" [formGroup]="form">
  <h1>Форма регистрации</h1>
  <div class="form form-group">
    <input
      [ngClass]="{
        'has-danger': form.get('soname').touched && form.get('soname').invalid,
        'has-success': form.get('soname').valid
      }"
      type="text"
      class="form-control"
      name="soname"
      formControlName="soname"
      id="soname"
      placeholder="*Введите имя"
    />
  </div>

  <div class="form form-group">
    <input
      [ngClass]="{
        'has-danger': form.get('name').touched && form.get('name').invalid,
        'has-success': form.get('name').valid
      }"
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
      id="name"
      placeholder="*Введите фамилию"
    />
  </div>

  <div class="form form-group">
    <input
      type="text"
      class="form-control"
      name="patronymic"
      formControlName="patronymic"
      id="patronymic"
      placeholder="Введите отчество"
    />
  </div>

  <p>*Поле обязательное для заполнения.</p>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Зарегистрироваться
  </button>
</form>
